include routine_qiime2_analyses/resources/web_of_life_tree.nwk
include routine_qiime2_analyses/examples/example_ADONIS_formulas.yml
include routine_qiime2_analyses/examples/example_PERMANOVA_subsets.yml